// settings

$font-main: "Public Sans", sans-serif; //change
$font-main2: "Manrope", sans-serif;
$font-main3: "DM Sans", sans-serif;
$font-main4: "Inter", sans-serif;
$fontIcon: "icomoon";
$fontIcon2: "flaticon";

:root {
    --Black: #000000;
    --White: #ffffff;
    --body-text: #555555;
    --Title: #1b1e23;
    --Text: #555555;
    --Text-2: #9c9c9c;
    --Text-3: #cecece;
    --Text-4: #6b6b6b;
    --Text-5: #89979a;
    --Text-6: #a3aaab;
    --Text-7: #7e7e7e;
    --Text-8: #939393;
    --Main-black: #1b1e23;
    --Main-black-2: #030917;
    --Main-black-3: #121212;
    --Main-yellow: #ffcd4c;
    --Main-yellow-2: #f9d67c;
    --Main-gray: #f2edea;
    --Main-gray-2: #f7f3ec;
    --Main-gray-3: #f6f7f6;
    --Main-gray-4: #ece8e0;
    --Main-green: #163838;
    --Main-green-2: #1c5540;
    --Main-green-3: #1d3e3e;
    --Main-blue: #85a6a6;
    --Main-golden: #b69974;
    --Border: rgb(255, 255, 255, 0.1);
    --Border-2: rgba(27, 30, 35, 0.1);
    --Border-3: rgba(3, 9, 23, 0.2);
    --Border-4: rgba(27, 57, 66, 0.1);
    --Border-5: rgba(22, 56, 56, 0.1);
    --Border-6: rgba(18, 18, 18, 0.1);
    --Border-7: #d9d9d9;
    --Border-8: #0309171a;
    --Border-9: rgba(18, 18, 18, 0.07);
    --Border-10: rgba(18, 18, 18, 0.3);
    --Bg: rgb(255, 255, 255, 0.05);
    --Bg-2: #1b3942;
    --Bg-3: rgba(255, 255, 255, 0.3);
    --Bg-4: rgba(27, 57, 66, 0.05);
    --Bg-5: rgba(255, 255, 255, 0.03);
    --Bg-6: #313741;
    --Bg-7: #f6f7f6;
    --Bg-8: rgba(18, 18, 18, 0.8);
    --Bg-9: rgba(255, 255, 255, 0.07);
    --Bg-10: #0c2626;
    --Color-1: #ff3b30;
}
