//reset accordion
.accordion {
    .accordion-button {
        @include transition3;
        position: relative;
        background-color: transparent;
        &::after {
            @include transition3;
            content: "";
            margin-left: unset;
            background-image: unset;
            width: auto;
            height: max-content;
            display: block;
        }
        &::before {
            @include transition3;
        }
        &:not(.collapsed) {
            background-color: unset;
            box-shadow: unset;
            &::after {
                transform: rotate(90deg);
            }
        }
        &:focus {
            box-shadow: unset;
        }
    }
    .accordion-item {
        border-color: transparent;
        background-color: transparent;
    }
    .accordion-collapse {
        @include transition3;
    }
    .accordion-body {
        @include transition3;
    }
}
//end reset

.tf-accordion {
    .accordion-button {
        font-family: $font-main2;
        padding: 0px 0px 26px;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--Border);
        color: var(--White);
        margin-bottom: 30px;
        &::after {
            position: absolute;
            color: var(--White);
            content: "\e90c";
            font-family: $fontIcon;
            color: var(--White);
            font-size: 12px;
            right: 10px;
            top: 1px;
        }
        &.last {
            margin-bottom: 0px;
        }
        &:not(.collapsed) {
            margin-bottom: 21px;
        }
    }
    .accordion-body {
        padding: 0px 0px 30px;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: var(--Text-2);
    }
    .accordion-item {
        &.item-last {
            .accordion-button {
                margin-bottom: 0px;
            }
        }
    }
    &.style-2 {
        .accordion-item {
            border-radius: 10px;
            background-color: var(--Bg);
            border: 1px solid var(--Border);
            margin-bottom: 10px;
        }
        .accordion-button {
            border: unset;
            padding: 17px 18px 16px 24px;
            margin-bottom: 0;
            font-weight: 600;
            &::after {
                color: var(--White);
                right: 25px;
                top: 18px;
            }
            &:not(.collapsed) {
                padding: 19px 18px 16px 24px;
            }
        }
        .accordion-body {
            padding: 5px 47px 23px 24px;

            color: var(--White);
        }
    }
    &.style-3 {
        .accordion-item {
            &.last {
                margin-bottom: 0px;
            }
        }
        .accordion-button {
            color: var(--Main-black);
            border-color: var(--Border-2);
            &::after {
                color: var(--Main-black);
            }
        }
        .accordion-body {
            color: var(--Text);
        }
    }
    &.style-4 {
        .accordion-item {
            background-color: var(--Main-gray);
            border: unset;
            margin-bottom: 11px;
            &.last {
                margin-bottom: 0px;
            }
        }
        .accordion-button {
            color: var(--Main-black);
            font-weight: 700;
            padding: 17px 18px 17px 30px;
            &::after {
                color: var(--Main-black);
                right: 21px;
            }
            &:not(.collapsed) {
                padding: 24px 18px 11px 29px;
            }
        }
        .accordion-body {
            padding: 5px 47px 23px 29px;
            color: var(--Text);
        }
    }
}

.tf-accordion-type-2 {
    max-width: 562px;
    width: 100%;
    position: relative;
    margin-left: auto;
    &::after {
        position: absolute;
        left: 19px;
        top: 19px;
        content: "";
        height: 90%;
        width: 1px;
        background-color: var(--Border-6);
        z-index: 1;
    }
    .accordion-item {
        padding-bottom: 45px;
        border: unset;
        max-width: 452px;
        width: 100%;
        margin-left: auto;
        &.last {
            padding-bottom: 0px;
        }
    }
    .accordion-button {
        padding: 0px;
        margin-bottom: 25px;
        overflow: visible;
        justify-content: space-between;
        .title {
            font-family: $font-main2;
            font-size: 22px;
            font-weight: 700;
            line-height: 30px;
            color: var(--Main-black-3);
        }
        &::after {
            content: none;
        }
        &:not(.collapsed) {
            .number {
                background: var(--Main-green-2);
                color: var(--White);
                box-shadow: 10px 4px 60px 0px #1c554080;
            }
            .icon {
                &::after {
                    transform: rotate(90deg);
                }
                &::before {
                    transform: rotate(90deg);
                    @include hidden;
                }
            }
        }
    }
    .accordion-body {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: var(--Text);
        padding: 0px;
        padding-bottom: 30px;
    }
    .accordion-header {
        position: relative;
    }
    .number {
        position: absolute;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        left: -110px;
        top: 50%;
        width: 40px;
        height: 40px;
        @include flex(center, center);
        border-radius: 50%;
        box-shadow: 10px 4px 60px 0px #7d7d7d40;
        border: 1px solid var(--Border-6);
        transform: translate(0px, -50%);
        background: var(--White);
        z-index: 2;
        @include transition3;
    }
    .icon {
        height: 11px;
        width: 11px;
        position: relative;
        &::after {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            content: "";
            width: 2px;
            height: 11px;
            background-color: var(--Main-black);
            @include transition3;
        }
        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 11px;
            height: 2px;
            background-color: var(--Main-black);
            @include transition3;
        }
    }
}

.tf-accordion-type-3 {
    .accordion-button {
        font-family: $font-main2;
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
        padding: 27px 50px 28px 50px;
        gap: 169px;
        &::after {
            position: absolute;
            color: var(--White);
            content: "\e91c";
            font-family: $fontIcon;
            color: var(--Main-black);
            font-size: 12px;
            right: 50px;
            top: 50%;
            transform: translateY(-50%);
        }
        &:not(.collapsed) {
            .step {
                border: 1px solid var(--Main-black);
                background-color: var(--Main-yellow);
            }
            &:not(.step) {
                color: transparent;
            }
            &::after {
                color: transparent;
            }
        }
    }
    .accordion-item {
        border-radius: 20px;
        border: 1px solid var(--Border-2);
        position: relative;
        @include transition3;
        overflow: hidden;
        margin-bottom: 20px;
        &.last {
            margin-bottom: 0px;
        }
        &.active {
            background-color: var(--Main-gray);
            .image {
                @include visible;
            }
            .accordion-button {
                padding: 48px 50px 30px 50px;
            }
            .fade-1 {
                bottom: 0;
                transition-delay: 0.2s;
                @include visible;
            }
            .fade-2 {
                bottom: 0;
                transition-delay: 0.3s;
                @include visible;
            }
            .fade-3 {
                bottom: 0;
                transition-delay: 0.4s;
                @include visible;
            }
        }
    }
    .step {
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.5em;
        text-transform: uppercase;
        color: var(--Main-black);
        display: block;
        border-radius: 7px;
        border: 1px solid var(--Border-2);
        background-color: var(--Main-gray);
        padding: 7px 9px 7px 15px;
        @include transition3;
    }
    .image {
        max-width: 520px;
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        position: absolute;
        top: 10px;
        bottom: 10px;
        right: 10px;
        margin-left: auto;
        @include transition3;
        @include hidden;
        img {
            object-fit: cover;
            height: 100%;
        }
    }
    .accordion-body {
        padding: 54px 0px 42px 99px;
        max-width: 750px;
        width: 100%;
        .title {
            font-family: $font-main2;
            font-size: 24px;
            font-weight: 700;
            line-height: 33px;
            margin-bottom: 8px;
        }
    }
    .benefit-list {
        i {
            font-size: 20px;
        }
        li {
            &:not(:first-child) {
                padding-top: 0px;
            }
            &:not(:last-child) {
                padding-bottom: 4px;
            }
        }
    }
}
