.tf-topbar {
    background-color: var(--Main-black);
    &.style-2 {
        background-color: var(--Bg-2);

        .topbar-inner {
            padding: 10px 0px;
        }
        .infor-list {
            gap: 50px;
            a {
                color: var(--White);
            }
            i {
                font-size: 19px;
            }
        }
    }

    &.style-3 {
        background-color: transparent;

        .topbar-inner {
            padding: 9px 0px;
        }
        .social-list {
            gap: 22px;
        }
        .infor-list {
            gap: 56px;
            a {
                color: var(--Text);

                &:hover {
                    color: var(--Main-black);
                }
            }

            .icon {
                i {
                    font-size: 17px;
                    color: var(--Text);
                }
            }
            li {
                gap: 7px;
            }
        }

        .social {
            @include d-flex();
            align-items: center;
            gap: 25px;
        }

        .line {
            width: 30px;
            height: 1px;
            display: inline;
            background-color: var(--Border-3);
        }

        .social-list {
            a {
                i {
                    @include transition3;
                    color: var(--Text);
                }

                &:hover {
                    i {
                        color: var(--Main-black);
                    }
                }
            }
        }

        .social {
            p {
                color: var(--Text);
            }
        }
    }
    &.style-4 {
        background-color: var(--White);
        .topbar-inner {
            border-color: var(--Border-2);
        }
        i,
        p,
        span {
            color: var(--Text);
        }
    }
}

.topbar-inner {
    @include flex(center, space-between);
    border-bottom: 1px solid var(--Border);
    padding: 15px 11px 16px 0px;

    i {
        color: var(--White);
    }

    p,
    span {
        color: var(--Text-2);
        font-weight: 500;
    }

    .topbar-left {
        @include d-flex();
        align-items: center;
        gap: 6px;

        .icon {
            i {
                font-size: 18px;
            }
        }
    }

    .infor-list {
        @include d-flex();
        align-items: center;
        gap: 53px;

        li {
            @include d-flex();
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        .icon {
            i {
                font-size: 20px;
            }
        }

        a {
            color: var(--Text-2);
            font-family: $font-main;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;

            &:hover {
                color: var(--Main-yellow);
            }
        }
    }
}

// ------------------------------------------------------------------------
.tf-header {
    background-color: var(--Main-black);
    top: 0;
    position: sticky;
    z-index: 999;

    &.style-2 {
        padding-bottom: 0px;
        background-color: var(--White);
        .nav-list {
            .item {
                > a {
                    color: var(--Main-black);
                }
                &:hover {
                    > a {
                        color: var(--Text-2);

                        &::before {
                            background-color: var(--Text-2);
                        }
                    }
                }
                &.has-child {
                    a {
                        &::after {
                            color: var(--Main-black);
                        }
                        &:hover {
                            &::after {
                                color: var(--Text-2);
                            }
                        }
                    }
                }
                &.current {
                    a {
                        color: var(--Text-2);

                        &::before {
                            background-color: var(--Text-2);
                        }
                        &::after {
                            color: var(--Text-2);
                        }
                    }
                }
            }
        }
        .sub-nav {
            background-color: var(--Main-black);
            a {
                &:hover {
                    span {
                        color: var(--White);
                        &::after {
                            background-color: var(--White);
                        }
                    }
                }
            }
            .current {
                span {
                    color: var(--White);

                    &::after {
                        background-color: var(--White);
                    }
                }
            }
        }
    }
    &.style-3 {
        background-color: transparent;
        padding-bottom: 0px;
        .header-inner {
            background-color: var(--Main-green-3);
            border-radius: 10px;
            border: 1px solid var(--Border);
            padding: 0px 49px;
        }
        .header-left {
            @include d-flex();
            align-items: center;
            gap: 166px;
        }
        .nav-list {
            .item {
                &:hover {
                    > a {
                        color: var(--Text-2);

                        &::before {
                            background-color: var(--Text-2);
                        }
                    }
                }
                > a {
                    color: var(--Main-gray-2);
                    line-height: 81px;
                    &::before {
                        color: var(--White);
                    }
                }
                &.has-child {
                    a {
                        &::after {
                            color: var(--White);
                        }
                    }
                    &:hover {
                        a {
                            &::after {
                                color: var(--Text-2);
                            }
                        }
                    }
                }
                &.current {
                    > a {
                        color: var(--Text-2);
                        &::before {
                            background-color: var(--Text-2);
                        }
                    }
                    &.has-child {
                        a {
                            &::after {
                                color: var(--Text-2);
                            }
                        }
                    }
                }
            }
        }
        .sub-nav {
            box-shadow: 0 3px 18px rgba(2, 21, 78, 0.09);
        }
        .box-icon-contact {
            @include d-flex();
            align-items: center;
            gap: 10px;
            padding-right: 12px;
            i {
                color: var(--White);
                font-size: 20px;
            }
            a {
                color: var(--White);
                &:hover {
                    span {
                        color: var(--Main-yellow);
                    }
                }
            }
            span {
                @include transition3;
                font-size: 20px;
            }
        }
    }
    &.style-4 {
        border-bottom: 1px solid var(--Border);
        padding-bottom: 0px;
        background-color: transparent;
        .header-inner {
            border: unset;
        }
        .nav-list {
            .item {
                &:hover {
                    > a {
                        color: var(--Text-2);

                        &::before {
                            background-color: var(--Text-2);
                        }
                    }
                }
                > a {
                    color: var(--White);
                    line-height: 83px;
                    &::before {
                        color: var(--White);
                    }
                }
                &.has-child {
                    a {
                        &::after {
                            color: var(--White);
                        }
                    }
                    &:hover {
                        a {
                            &::after {
                                color: var(--Text-2);
                            }
                        }
                    }
                }
                &.current {
                    > a {
                        color: var(--Text-2);
                        &::before {
                            background-color: var(--Text-2);
                        }
                    }
                    &.has-child {
                        a {
                            &::after {
                                color: var(--Text-2);
                            }
                        }
                    }
                }
            }
        }
        .sub-nav {
            a {
                &:hover {
                    span {
                        color: var(--Main-black);
                    }
                }
            }
        }
    }
    &.style-5 {
        background-color: var(--White);
        .header-inner {
            border-color: var(--Border-2);
        }
        .nav-list {
            .item {
                > a {
                    color: var(--Main-black);
                    &::before {
                        background-color: var(--Text-2);
                    }
                }
                &.has-child {
                    > a {
                        &::after {
                            color: var(--Main-black);
                        }
                    }
                }
                &:hover {
                    > a {
                        color: var(--Text-2);
                    }
                    &.has-child {
                        > a {
                            &::after {
                                color: var(--Text-2);
                            }
                        }
                    }
                }
                &.current {
                    > a {
                        color: var(--Text-2);
                    }
                    &.has-child {
                        > a {
                            &::after {
                                color: var(--Text-2);
                            }
                        }
                    }
                }
            }
        }
        .sub-nav {
            a {
                &:hover {
                    span {
                        color: var(--Main-black);
                    }
                }
            }
        }
    }
}

.header-inner {
    @include flex(center, space-between);
    border-bottom: 1px solid var(--Border);
    .tf-btn {
        padding: 12px 21px 12px;
    }
    .nav-list {
        @include d-flex();
        align-items: center;
        gap: 33px;

        a {
            color: var(--Text-2);
            font-size: 16px;
            font-weight: 600;
            font-family: $font-main2;
            display: block;
            position: relative;
        }

        .item {
            position: relative;

            > a {
                line-height: 82px;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    height: 1px;
                    bottom: 39%;
                    background-color: var(--White);
                    transform-origin: center;
                    transform: scaleX(0);
                    @include transition3;
                }
                span {
                    position: relative;
                    display: inline-block;
                    &::after {
                        position: absolute;
                        content: "";
                        top: 50%;
                        left: 50%;
                        height: 82px;
                        display: none;
                        transform: translate(-50%, -50%);
                        width: calc(100% + 65px);
                    }
                }
            }

            &.has-child {
                > a {
                    padding-right: 15px;

                    &::after {
                        content: "\e90a";
                        position: absolute;
                        font-family: $fontIcon;
                        line-height: 0px;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        color: var(--Text-2);
                        font-size: 6px;
                        @include transition3;
                    }

                    span {
                        &::after {
                            -webkit-transform: translate(-43%, -50%);
                            -moz-transform: translate(-43%, -50%);
                            -ms-transform: translate(-43%, -50%);
                            -o-transform: translate(-43%, -50%);
                            transform: translate(-43%, -50%);
                            width: calc(100% + 80px);
                        }
                    }
                }
            }

            &:hover {
                .sub-nav {
                    transform: perspective(500px) rotateY(0);
                    @include visible;
                    pointer-events: all;
                }

                > a {
                    color: var(--White);

                    &::before {
                        transform: scaleX(1);
                    }
                    &::after {
                        color: var(--White);
                        transform: rotate(-180deg);
                    }
                    span {
                        &::after {
                            display: block;
                        }
                    }
                }
            }
            &.current {
                > a {
                    color: var(--White);
                    &::after {
                        color: var(--White);
                    }
                    &::before {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }

    .sub-nav {
        width: 220px;
        position: absolute;
        border-radius: 7px;
        background-color: var(--White);
        transform: perspective(500px) rotateY(20deg);
        transform-origin: -50% 0%;
        @include tf-transition-1;
        @include hidden;
        pointer-events: none;
        padding: 10px 0px 10px 10px;
        box-shadow: 0 3px 18px rgba(2, 21, 78, 0.09);
        li {
            &.current {
                a {
                    color: var(--Main-black);
                }
                span {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
        a {
            padding: 10px;

            &:hover {
                color: var(--Main-black);

                span {
                    &::after {
                        right: auto;
                        left: 0;
                        width: 100%;
                    }
                }
            }

            span {
                position: relative;
                @include transition3;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 2px;
                    left: auto;
                    right: 0;
                    width: 0%;
                    height: 1px;
                    background-color: var(--Main-black);
                    @include transition3;
                }
            }
        }
    }

    .logo-site {
        img {
            max-width: 139px;
        }
    }

    .header-right {
        @include d-flex();
        align-items: center;
        gap: 30px;
    }
}
.union {
    width: 25px;
    height: 25px;
    @include flex(center, space-between);
    position: relative;
    cursor: pointer;

    .dot {
        display: flex;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: var(--White);

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: var(--White);
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: var(--White);
        }
    }
    &.style-2 {
        .dot {
            background-color: var(--Bg-2);
            &::after {
                background-color: var(--Bg-2);
            }
            &::before {
                background-color: var(--Bg-2);
            }
        }
    }
    &.style-3 {
        .dot {
            background-color: var(--Main-blue);
            &::after {
                background-color: var(--Main-blue);
            }
            &::before {
                background-color: var(--Main-blue);
            }
        }
    }
    &.style-4 {
        .dot {
            background-color: var(--Main-black);
            &::after {
                background-color: var(--Main-black);
            }
            &::before {
                background-color: var(--Main-black);
            }
        }
    }
}
.box-welcome {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    @include transition3;
    @include hidden;
    z-index: 1000;
    .tf-overlay {
        background-color: rgba(0, 0, 0, 0.4);
    }
    &.active {
        @include visible;
        .popular-wrap {
            transform: translateX(0px);
        }
    }
}
.btn-close-welcome {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    @include transition3;
    color: var(--Main-black);
    &:hover {
        color: var(--Main-golden);
    }
}
.popular-wrap {
    position: fixed;
    right: 20px;
    top: 205px;
    max-width: 535px;
    width: 100%;
    background-color: var(--White);
    border-radius: 6px;
    padding: 60px 50px;
    z-index: 1001;
    transform: translateX(20px);
    @include transition3;

    .wrap {
        margin-bottom: 30px;
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid var(--Border-2);
    }

    .title {
        padding-left: 20px;
        color: var(--Main-black);
        font-size: 20px;
        font-weight: 700;
        font-family: $font-main2;
        margin-bottom: 10px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: var(--Main-yellow);
        }
    }

    .text {
        color: var(--Text-2);
    }

    .contact-list {
        margin-bottom: 10px;

        p {
            color: var(--Text);
        }
        a {
            color: var(--Text-2);
            font-size: 14px;
            &:hover {
                color: var(--Main-golden);
            }
        }
    }

    .social-list {
        a {
            &:hover {
                color: var(--Main-black);
            }
        }
    }
    .gallery-image {
        @include d-flex();
        gap: 10px;
        .image {
            max-width: 100px;
            border-radius: 10px;
            overflow: hidden;
        }
    }
}
.header-wrap {
    width: 100%;
    z-index: 3;
    z-index: 999;
    &.scrollHeader {
        position: sticky !important;
        top: 0;
        left: 0;
        right: 0;
        @include transition6();
        &.header-bg {
            border: unset;
            background-color: var(--Main-green-3);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        }
        .header-inner {
            border: unset !important;
        }
    }
}
.header-wrap-2 {
    width: 100%;
    z-index: 3;
    top: 20px;
    z-index: 999;
    &.scrollHeader {
        position: sticky !important;
        top: 0;
        left: 0;
        right: 0;
        @include transition6();
        &.header-bg {
            border: unset;
            background-color: var(--Main-black);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        }
    }
}
.mobile-nav-wrap {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 9999999;
    opacity: 0;
    visibility: hidden;
    @include transition3;
    &.active {
        opacity: 1;
        visibility: visible;
        .inner-mobile-nav {
            left: 0 !important;
        }
    }
    .mobile-main-nav {
        border-bottom: 1px solid var(--Text-2);
    }
    .overlay-mobile-nav {
        z-index: 300;
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0.8) 100%
        );
        width: 100%;
        height: 100%;
        z-index: 1000;
    }
    .inner-mobile-nav {
        z-index: 300;
        position: fixed;
        padding: 15px;
        z-index: 1001;
        height: 100%;
        width: 320px;
        background-color: var(--White);
        left: -320px;
        @include transition3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        .logo {
            @include flex(center, flex-start);
            img {
                max-width: 160px;
            }

            margin-bottom: 40px;
        }
    }
    .menu-item-has-children-mobile {
        a {
            font-weight: 500;
            color: var(--Main-black);
        }
        padding-bottom: 10px;
        padding-top: 10px;
        &.active {
            .item-menu-mobile {
                color: var(--Text-2);
            }
            i {
                transform: rotate(-180deg);
            }
        }
        .item-menu-mobile {
            justify-content: space-between;
            display: flex;
            margin-bottom: 15px;
            position: relative;
            transition-timing-function: linear;
            font-size: 18px;
            color: var(--Main-black);
            font-weight: 600;
            font-family: $font-main;
            &:hover {
                color: var(--Text-2);
                i {
                    color: var(--Secondary);
                }
            }
            &.current {
                color: var(--Text-2);
            }
            i {
                @include transition3;
                font-size: 8px;
                height: max-content;
            }
        }
        .sub-menu-mobile {
            display: none;
        }
        .menu-item {
            a {
                padding-left: 15px;
                display: block;
                line-height: 30px;
                font-size: 16px;
                font-family: $font-main;
                &::before {
                    content: "\e917";
                    position: relative;
                    top: -1px;
                    left: -10px;
                    font-family: $fontIcon;
                    color: var(--Secondary);
                    @include hidden;
                    @include transition3;
                    font-size: 10px;
                }
                &:hover {
                    color: var(--Secondary);
                    &::before {
                        left: -5px;
                        @include visible;
                    }
                    span {
                        &::after {
                            right: auto;
                            left: 0;
                            width: 100%;
                        }
                    }
                }
                span {
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        left: auto;
                        right: 0;
                        width: 0%;
                        height: 1px;
                        background-color: var(--Text-2);
                        bottom: 2px;
                        @include transition3;
                    }
                }
            }

            &.current {
                a {
                    &::before {
                        left: -5px;
                        @include visible;
                    }
                    color: var(--Secondary);
                    span {
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .mobile-nav-close {
        top: 20px;
        right: 20px;
        position: absolute;
        cursor: pointer;
        @include transition3;
        color: var(--Main-black);
        &:hover {
            color: var(--Main-golden);
        }
    }
    .social-list {
        a {
            &:hover {
                color: var(--Main-black);
            }
        }
    }
    .bottom {
        .title {
            font-family: $font-main2;
            color: var(--Main-black);
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 5px;
        }
    }
    .contact-list {
        margin-bottom: 10px;
        p {
            color: var(--Text);
        }
        a {
            color: var(--Text-2);
            font-size: 14px;
            &:hover {
                color: var(--Main-golden);
            }
        }
    }
}
.mobile-button {
    display: none;
}
