.box-map {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .map {
        height: 822px;
        width: 100%;
        .marker {
            background-size: cover;
            width: 35px;
            height: 50px;
            cursor: pointer;
        }
    }
}

.mapboxgl-ctrl-attrib {
    a,
    &.mapboxgl-compact {
        display: none !important;
    }
}

a.mapboxgl-ctrl-logo {
    display: none !important;
}
.mapboxgl-control-container,
.mapboxgl-touch-pan-blocker,
.mapboxgl-scroll-zoom-blocker {
    display: none;
}
